*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.card{
    height: 693px;
    background: linear-gradient(100deg,red,blue,purple);
    width: 60%;
    margin: 10rem auto 0;
}
.card1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 3px;
}
.card1 div{
    height: 80px;
}
.card1 .trois{
    width: 19.5%;
}
.card1 .deux{
    width: 14%;
}
.card1 .un{
    width: 5%;
}
.card1 .bleuF{
    background-color: #2759D6;
}
.card1 .bleuC{
    background-color: #4374D1;
}

.card2{
    display: flex;
    justify-content: space-between;
    padding: 7px 3px;
}
.card2 .div2{
    height: 80px;
    width: 19.5%;
    display: flex;
    justify-content: space-between;
}
.card2 .div2 div{
    background-color: aliceblue;
    width: 31%;
}

.card2 .div1{
    width: 39.7%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.card2 .div1 .un{
    width: 49%;
    height: 80px;
    background-color: aliceblue;
}
.card2 .div1 .deux{
    background-color: aliceblue;
    height: 80px;
    width: 13%;
}
.card2 .div1 .trois{
    background-color: aliceblue;
    height: 80px;
    width: 35%;
}
.card2 .div1 .bleuF{
    background-color: #2759D6;
}
.card2 .div1 .bleuC{
    background-color: #4374D1;
}
.card2 .div2 .bleuF{
    background-color: #2759D6;
}
.card2 .div2 .bleuC{
    background-color: #4374D1;
}



.card3{
    display: flex;
    justify-content: space-between;
    padding: 0px 3px;
}
.card3 .div2{
    height: 80px;
    width: 19.5%;
    display: flex;
    justify-content: space-between;
}
.card3 .div2 div{
    background-color: aliceblue;
    width: 31%;
}

.card3 .div1{
    width: 39.7%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.card3 .div1 .un{
    width: 35.5%;
    height: 80px;
    background-color: aliceblue;
}
.card3 .div1 .deux{
    background-color: aliceblue;
    height: 80px;
    width: 49.7%;
}
.card3 .div1 .trois{
    background-color: aliceblue;
    height: 80px;
    width: 12%;
}
.card3 .div1 .bleuF{
    background-color: #2759D6;
}
.card3 .div1 .bleuC{
    background-color: #4374D1;
}
.card3 .div2 .bleuF{
    background-color: #2759D6;
}
.card3 .div2 .bleuC{
    background-color: #4374D1;
}


.card4{
    display: flex;
    justify-content: space-between;
    padding: 7px 3px;
}
.card4 .div2{
    height: 170px;
    width: 19.5%;
    display: flex;
    justify-content: space-between;
}
.card4 .div2 div{
    background-color: aliceblue;
    width: 31%;
}
.card4 .div1{
    width: 39.7%;
    display: flex;
    justify-content: space-between;
}
.card4 .div1 .un{
    width: 12%;
    height: 170px;
    background-color: aliceblue;
}
.card4 .div1 .deux{
    width: 35.7%;
    height: 170px;
    background-color: aliceblue;
}
.card4 .div1 .bleuF{
    background-color: #2759D6;
}
.card4 .div1 .bleuC{
    background-color: #4374D1;
}
.card4 .div2 .bleuF{
    background-color: #2759D6;
}
.card4 .div2 .bleuC{
    background-color: #4374D1;
}