*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 600px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 0.5rem;
}
.parent div{
    color: lightseagreen;
    border: 1px solid black;
    color: bisque;
}
.parent{
    background: linear-gradient(130deg,lightseagreen, lightcoral,lightseagreen);
}
/* .parent :nth-child(18){
    background-color: #FFF;
}
.parent :nth-child(32){
    background-color: #FFF;
    grid-row: 3/ span 3;
    grid-column: 2;
}
.parent :nth-child(34){
    background-color: #FFF;
    grid-row: 3/ span 3;
    grid-column: 4;
}
.parent :nth-child(46){
    background-color: #FFF;
}
.parent :nth-child(20){
    background-color: #FFF;
    grid-row: 2/ span 4;
    grid-column: 5;
}.parent :nth-child(35){
    background-color: #FFF;
}
.parent :nth-child(48){
    background-color: #FFF;
}
.parent :nth-child(23){
    background-color: #FFF;
}
.parent :nth-child(){
    background-color: #FFF;
}
.parent :nth-child(){
    background-color: #FFF;
}.parent :nth-child(){
    background-color: #FFF;
}
.parent :nth-child(){
    background-color: #FFF;
}
.parent :nth-child(){
    background-color: #FFF;
}
.parent :nth-child(){
    background-color: #FFF;
}.parent :nth-child(){
    background-color: #FFF;
}
.parent :nth-child(){
    background-color: #FFF;
}
.parent :nth-child(){
    background-color: #FFF;
}

.parent :nth-child(){
    background-color: #FFF;
}
.parent :nth-child(){
    background-color: #FFF;
}.parent :nth-child(){
    background-color: #FFF;
}

.parent :nth-child(){
    background-color: #FFF;
}.parent :nth-child(){
    background-color: #FFF;
}
.parent :nth-child(){
    background-color: #FFF;
} */
